@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
.swiper {
  height: 100%;
}

.swiper-slide {
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 980px !important;
  gap: 40px;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.swiper-button-next,
.swiper-rtl .swiper-button-prev {
  right: var(--swiper-navigation-sides-offset, 2%);
  background-color: #fff;
  border-radius: 100%;
  width: 40px;
  height: 40px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-size: 10px;
  color: #C8C8C8;
}

.swiper-slide .swiper-slide-active {
  max-width: 980px;
}

h1,
h1,
h3,
h4,
h5,
h6,
p,
ul,
ol,
body {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 15px;
}

body {
  font-family: "Inter", sans-serif;
}

.header {
  border-bottom: 1px solid rgb(234, 234, 234);
  margin-bottom: 82px;
}
.header a {
  text-decoration: none;
}
.header__content {
  margin-top: 43px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header__logo-text {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  font-weight: 700;
  color: rgb(0, 0, 0);
}
.header__logo-text span {
  font-size: 14px;
  font-weight: 400;
}
.header__nav {
  display: flex;
  gap: 32px;
}
.header__icon {
  width: 17px;
  height: 17px;
}
.header__title ul,
.header li,
.header span {
  list-style: none;
  cursor: pointer;
  color: rgb(155, 155, 155);
  gap: 8px;
}
.header__botom {
  margin-bottom: 45px;
}

.hero {
  overflow: hidden;
}
.hero__content {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  background-color: #F4EFE9;
  border-radius: 20px;
}
.hero__left {
  display: flex;
  flex-direction: column;
}
.hero__brand {
  padding: 16px 20px;
}
.hero__about {
  margin-top: 32px;
  padding-left: 61px;
}
.hero__title {
  font-weight: 700;
  font-size: 32px;
  max-width: 260px;
}
.hero__title span {
  color: #A5D364;
}
.hero__btn {
  padding: 14px 45px;
  margin-top: 25px;
  background-color: #A5D364;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
.sneakers__top {
  margin-top: 39px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}
.sneakers__title {
  font-weight: 700;
  font-size: 32px;
}
.sneakers__border {
  border: 1px solid #F3F3F3;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 8px;
}
.sneakers__lupa {
  width: 15px;
  height: 15px;
}
.sneakers__inp {
  border: none;
}
.sneakers__content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
.sneakers input::placeholder {
  color: #C4C4c4;
}

.emtycard__content {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
.emtycard__smail {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
}
.emtycard__coment {
  max-width: 290px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.emtycard__title {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.emtycard__text {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 11px;
}
.emtycard__btn {
  padding: 19px 25px;
  background-color: #9DD458;
  border: none;
  border-radius: 18px;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
  text-decoration: none;
}

.bookmarks__content {
  margin-top: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}
.bookmarks__smail {
  margin-top: 100px;
  margin-bottom: 30px;
  width: 70px;
  height: 70px;
}
.bookmarks__coment {
  max-width: 290px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.bookmarks__title {
  font-weight: 600;
  font-size: 24px;
  color: #000000;
}
.bookmarks__text {
  font-weight: 400;
  font-size: 16px;
  color: #000000;
  margin-bottom: 40px;
  margin-top: 11px;
}
.bookmarks a {
  text-decoration: none;
}
.bookmarks__btn {
  padding: 19px 25px;
  background-color: #9DD458;
  border: none;
  border-radius: 18px;
  display: flex;
  align-items: center;
  color: #fff;
  gap: 10px;
}
.bookmarks__link {
  display: flex;
  align-items: center;
  gap: 20px;
}
.bookmarks h1 {
  color: #000000;
}

.cart__img {
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.purchases__text {
  display: flex;
  align-items: center;
  gap: 21px;
  margin-bottom: 30px;
}
.purchases__back {
  padding: 12px 14px;
  border: 1px solid rgba(213, 224, 223, 0.5960784314);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
.purchases__title {
  font-size: 32px;
  font-weight: 700;
}
.purchases__content {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
.purchases__card {
  position: relative;
  width: 210px;
  height: 260px;
  border-radius: 40px;
  padding: 20px 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease;
  border: 1px solid rgba(213, 224, 223, 0.5960784314);
  background-color: rgb(255, 255, 255);
}
.purchases__like {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 10%;
  left: 10%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  opacity: 0.7;
  transition: opacity 0.2s;
  border: 1px solid rgba(213, 224, 223, 0.5960784314);
  border-radius: 8px;
}
.purchases__likeimg {
  width: 14px;
  height: 14px;
}
.purchases__crosovok {
  width: 150px;
  height: auto;
  object-fit: contain;
  margin-bottom: 10px;
}
.purchases__about {
  max-width: 150px;
  font-size: 14px;
  font-weight: 400;
  text-align: left;
  color: #000;
  margin-bottom: 8px;
}
.purchases__prise {
  width: 150px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}
.purchases__prise-text {
  display: flex;
  flex-direction: column;
  font-size: 14px;
  font-weight: bold;
  color: #000;
}
.purchases__prise-text span {
  font-size: 11px;
  font-weight: 500;
  color: #b6b6b6;
}
.purchases__prise-plus {
  width: 32px;
  height: 32px;
  cursor: pointer;
  border: 1px solid rgba(213, 224, 223, 0.5960784314);
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=index.css.map */