.bookmarks {
    &__content {
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

    }
    &__smail {
        margin-top: 100px;
        margin-bottom: 30px;
        width: 70px;
        height: 70px;
    }
    &__coment {
        max-width: 290px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        color: #000000;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-bottom: 40px;
        margin-top: 11px;
    }
    a {
        text-decoration: none;
    }
    &__btn {
        padding: 19px 25px;
        background-color: #9DD458;
        border: none;
        border-radius: 18px;
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h1{
        color: #000000;
    }
}

.cart {
    &__content{
    }

    &__top{
        margin-top: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 30px;
    }
    &__img-order{
        width: 80px;
        height: 120px;
        border: 0;
    }
    &__subtitle {
        font-weight: 600;
        font-size: 22px;
        color: #87C20A;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #9b9898;
    }
    &__btn {
        margin-top: 40px;
        border: none;
        padding: 17px 15px;
        background-color: #9DD458;
        color: #FFFFFF;
        border-radius: 18px;
    }
}

.cart__img{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}