.bookmarks {
    &__content {
        margin-top: 30px;
        display: flex;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        gap: 20px;

    }
    &__smail {
        margin-top: 100px;
        margin-bottom: 30px;
        width: 70px;
        height: 70px;
    }
    &__coment {
        max-width: 290px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-weight: 600;
        font-size: 24px;
        color: #000000;
    }
    &__text {
        font-weight: 400;
        font-size: 16px;
        color: #000000;
        margin-bottom: 40px;
        margin-top: 11px;
    }
    a {
        text-decoration: none;
    }
    &__btn {
        padding: 19px 25px;
        background-color: #9DD458;
        border: none;
        border-radius: 18px;
        display: flex;
        align-items: center;
        color: #fff;
        gap: 10px;
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 20px;
    }
    h1{
        color: #000000;
    }



}

.cart__img{
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
}