.cart {
    &__content {
        display: flex;
        flex-direction: column;


    }

    &__bot {
        display: flex;
        flex-direction: column;
        gap: 19px;

        &-price{
            display: flex;
            justify-content: space-between;
        }
    }





}