.cart {
    &__content {
        position: absolute;
        top: -4%;
        right: -300px;
        height: 100vh;
        z-index: 3;
        padding: 30px;
        max-width: 425px;
        background-color: #FFFFFF;
        display: flex;
        flex-direction: column;
        box-shadow: -10px 4px 24px 0px #0000001A;



    }

    &__top{
        display: flex;
        justify-content: space-between;
    }

    &__x{
        cursor: pointer;
    }

    &__title {
        font-family: 'Inter';
        font-weight: 700;
        font-size: 24px;
        line-height: 100%;
        letter-spacing: 0%;
        color: #000000;
        margin-bottom: 30px;


    }

    &__bot {
        display: flex;
        flex-direction: column;
        gap: 19px;
        margin-top: 300px;

        &-price {
            display: flex;
            justify-content: space-between;
        }

        &-btn {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            text-align: center;
            max-width: 325;
            opacity: 1;
            border-radius: 18px;
            background-color: #9DD458;
            color: #FFFFFF;
            padding: 14px 30px;


        }

        &-total {
            font-family: 'Inter';
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;

        }

        &-num {
            font-family: 'Inter';
            font-weight: 600;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            color: #000000;

        }
    }



}

body{
    position: relative;
}