.header {
    border-bottom: 1px solid rgba(234, 234, 234, 1);
    margin-bottom: 82px;

    a {
        text-decoration: none;
    }

    &__content {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    &__logo {
        display: flex;
        align-items: center ;
        gap: 10px;


        &-text {
            display: flex;
            flex-direction: column;
            font-size: 20px;
            font-weight: 700;
            color: rgba(0, 0, 0, 1);


            span {
                font-size: 14px;
                font-weight: 400;
            }
        }
    }

    &__nav {
        display: flex;
        gap: 32px;
    }

    &__icon {
        width: 17px;
        height: 17px;
    }

    &__title ul,
    li,
    span {
        list-style: none;
        cursor: pointer;
        color: rgba(155, 155, 155, 1);
        gap: 8px;
    }

    &__botom {
        // border-bottom: 1px solid rgba(234, 234, 234, 1);
        margin-bottom: 45px;
    }
}