.header {
    &__content {
        margin-top: 43px;
        display: flex;
        justify-content: space-between;
    }
    &__logo {
        width: 247px;
        height: 41px;
    }
    &__nav {
        display: flex;
        gap: 32px;
        margin-bottom: 89px;
    }
            &__icon {
            width: 17px;
            height: 17px    ;
        }
    &__title ul, li, span {
        list-style: none;
        cursor: pointer;
        color: rgba(155, 155, 155, 1);
        gap: 8px;
    }
    &__botom {
        border-bottom: 1px solid rgba(234, 234, 234, 1);
        margin-bottom: 45px;
    }
}